/* index-model.css */
body { font-family: sans-serif; background: #f4f4f4; padding: 20px; }
.card { background: white; padding: 15px; margin-bottom: 10px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
.responsive-img {
    max-width: 100%;
    height: auto;
}


.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.video-grid img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.video-grid img:hover {
    transform: scale(1.05);
}
